<h1>Edit Employee</h1>

<form action="http://localhost:3004/employees/edit/<%= employees.eid %>" method="post">
    <label for="">EID</label><input type="text" readonly name="eid" id="eid">
    <label for="">EID</label><input type="text" name="eid" id="eid">
    <label for="">EID</label><input type="text" name="eid" id="eid">
    <label for="">EID</label><input type="text" name="eid" id="eid">
</form>