<style>
    ul {
        list-style-type: none;
        padding: 0%;
    }
</style>

<ul>
    <li>
        <a href="/employees">Employees</a>

    </li>
    <li>
        <a href="/depts">Departments</a>

    </li>
    <li>
        <a href="/employeesMongoDB">Employees(MongoDB)</a>

    </li>
</ul>